@mixin sectionWrapper {
  position: relative;
  width: 90vw;
  min-height: calc(100vh - 270px);
  margin: 0 auto;
}
@mixin backButtonPosition {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
@mixin spinnerWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  padding: 10px;
}
