@import "./variables.scss";

@mixin sectionWrapper {
  position: relative;
  width: 90vw;
  min-height: calc(100vh - 270px);
  margin: 0 auto;
}
@mixin backButtonPosition {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
@mixin spinnerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  padding: 10px;
}
@mixin inputViev {
  height: 35px;
  width: 90%;
  margin-top: 10px;
  background-color: $basic-color;
  border: none;
  border-bottom: 2px solid $fifth-color;
  font-size: $m-font-size;
  color: $fourth-color;
  @media screen and (min-width: map-get($breakpoints, lm)) {
    font-size: $l-font-size/1.2;
  }
}
