$basic-color: #092c64;
$first-color: #b5297f;
$second-color: #fd6274;
$third-color: #d9b01c;
$fourth-color: #ffffee;
$fifth-color: #339fcd;

$text-first-color: #fff;
$text-second-color: #000;
$text-third-color: #aaa;
$text-information-color: green;
$text-warring-color: red;

$border-first-color: #000;

$s-font-size: 14px;
$m-font-size: 18px;
$l-font-size: 20px;
$x-font-size: 24px;
$xl-font-size: 28px;

$header-height: 200px;
$footer-height: 70px;

$breakpoins: (
  xs: 340px,
  sm: 480px,
  sl: 640px,
  lm: 800px,
  xl: 1020px,
  xx: 1280px,
);
