@import "../../../Root/common.scss";
.wrapper {
  position: relative;
  width: 75vw;
  .load,
  .unload,
  .informations {
    border: 1px solid $fifth-color;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    h4 {
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    div {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
      ::placeholder {
        color: $first-color;
      }
      input,
      select,
      textarea {
        height: 30px;
        border: none;
        background-color: $basic-color;
        border-bottom: 1px solid $fifth-color;
      }
      textarea {
        width: 100%;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
