@import "../../../Root/common.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  h2 {
    text-align: center;
  }
  .clientData,
  .carrierData,
  .orderData {
    margin: 10px 0;
    border: 1px solid $fifth-color;
    border-radius: 5px;
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: $m-font-size/1.1;
      color: $first-color;
    }
  }
  .orderData {
    .load,
    .unload {
      display: flex;
      flex-wrap: wrap;
      p {
        display: block;
        flex-basis: 40%;
      }
      p :nth-child(1) {
        color: $fifth-color;
      }
    }
  }
}
.button {
  display: flex;
  justify-content: center;
}
