@import "../../Root/common.scss";

.wrapper {
  position: relative;
  width: 60vw;
  .infromation {
    color: $text-warring-color;
    text-align: center;
    font-weight: 700;
  }
  .form {
    .login,
    .password {
      display: flex;
      justify-content: space-around;
      margin: 20px auto;
      input {
        margin-left: 10px;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin: 20px auto;
    }
  }
  .spinnerWrapper {
    @include spinnerWrapper;
  }
}
