@import "../../Root/common.scss";

.wrapper {
  @include sectionWrapper;
  border: 1px solid transparent;
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .information {
    width: 100%;
    height: 60px;
    text-align: center;
    p {
      color: $text-information-color;
    }
  }
  .selectButttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }

  .clientItem {
    min-height: 100px;
  }
  .clientsList {
    margin-bottom: 140px;
  }
  .backButton {
    @include backButtonPosition;
    margin-top: 40px;
  }
}
