@import "../../Root/common.scss";

.wrapper {
  @include sectionWrapper;
  border: 1px solid transparent;
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
  }

  .selectButttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }

  .clientItem {
    width: 95%;
    min-height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 2px solid $fifth-color;
    .info {
      padding: 20px;
      color: $text-warring-color;
      font-weight: 700;
      text-align: center;
    }
  }
  .clientsList {
    width: 95%;
    margin: 0 auto 140px auto;
  }
  .backButton {
    @include backButtonPosition;
    margin-top: 40px;
  }
  // @media screen and (orientation: landscape) {
  // }
  @media screen and (min-width: map-get($breakpoints, lm)) {
    .clientItem {
      width: 70%;
    }
    .clientsList {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: map-get($breakpoints, lm)) {
    .clientItem {
      width: 50%;
    }
  }
}
