@import "../../Root/common.scss";

.wrapper {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  height: $header-height;
  margin: 10px auto;
  border-bottom: 2px solid $fifth-color;
  text-align: center;

  h1 {
    flex-basis: 40%;
    color: $fourth-color;
  }

  .buttons {
    flex-basis: 40%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .loginAppBtn,
    .testAppBtn,
    .menuItem {
      flex-basis: 10%;
    }
  }
}
