@import "../../Root/common.scss";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: calc(100vh - 200px - 40px);
  margin: 20px auto;
  border: 1px solid red;
  .loginApp,
  .testApp {
    flex-basis: 45%;
    height: 90%;
    padding: 20px;
    border: 1px solid blue;
  }
}
